<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
	<meta charset="UTF-8">
	<title>Protractor Test</title>
</head>
<body ng-controller="MainCtrl">

<button id="theBtn" ng-click="onButtonClick()">The Button</button>
<a href="" ng-click="onLinkClick()">The Link</a>

<div id="btnTxt" ng-show="showBtnTxt">Some button text</div>
<div id="linkTxt" ng-show="showLinkTxt">Some link text</div>

<script type="text/javascript" src="angular.js"></script>
<script type="text/javascript">

	var app = angular.module('app', []);

	app.controller('MainCtrl', function ($scope) {
		$scope.showBtnTxt = $scope.showLinkTxt = false;

		$scope.onButtonClick = function () {
			$scope.showBtnTxt = true;
			$scope.showLinkTxt = false;
		}

		$scope.onLinkClick = function () {
			$scope.showBtnTxt = false;
			$scope.showLinkTxt = true;
		}
	})

</script>

</body>
</html>
