<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Node.js, NPM, Grunt & Browserify</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="stylesheet" href="reveal.js/css/main.css">
		<link rel="stylesheet" href="css/um.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="reveal.js/lib/css/zenburn.css">

		<script>
			// If the query includes 'print-pdf' we'll use the PDF print sheet
			document.write( '<link rel="stylesheet" href="reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Used to fade in a background when a specific slide state is reached -->
			<div class="state-background"></div>

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section style="text-align: left">
					<h1>Node.js</h1>
					<h1>NPM</h1>
					<h1>Grunt</h1>
					<h1>Browserify</h1>
					<h1>& Yeoman</h1>
                    <h4 style="color: #666666">for client-side JavaScript development</h4>
				</section>

				<section>
					<h1>Node.js</h1>
				</section>

				<section>
					<h2>Node.js</h2>
					<ul>
						<li>"Server-side JavaScript"</li>
						<li>V8 - Google's JS engine</li>
						<li>Wicked popular</li>
						<li>Duh.</li>
					</ul>
				</section>

				<section>
					<h2>Node.js</h2>
					<ul>
						<li>Dependencies stored in <pre>node_modules</pre> directory</li>
						<li>Each dependency has its own <pre>node_modules</pre> directory</li>
						<li>Turtles all the way down</li>
						<li>Don't check in the turtles</li>
					</ul>
				</section>

				<section>
					<h2>Node.js</h2>
					<ul>
						<li><pre>node myFile.js</pre></li>
						<li>Really solid core API</li>
					</ul>
				</section>

				<section>
					<h1>NPM</h1>
				</section>

				<section>
					<h2>NPM</h2>
					<ul>
						<li>Node Package Manager</li>
						<li>package.json manifest</li>
						<li>Don't use node without it</li>
					</ul>
				</section>

				<section>
					<h2>package.json</h2>
					<ul>
						<li>Describes your module's dependencies and metadata</li>
						<li>Can specify dependency version number/range</li>
						<li>Regular, dev and optional dependencies</li>
						<li><pre>npm install</pre> FTW</li>
					</ul>
				</section>

                <section>
                    <h2>NPM</h2>
                    <ul>
                        <li><pre>npm install {name}</pre></li>
                        <li><pre>npm install -g {name}</pre></li>
                        <li><pre>npm install {name} --save</pre></li>
                        <li><pre>npm install {name} --save-dev|-D</pre> (!!!)</li>
                    </ul>
                </section>

				<section>
					<h1>Grunt</h1>
				</section>

				<section>
					<h2>Grunt</h2>
					<ul>
						<li>JavaScript Task Runner</li>
						<li>Automate all the things</li>
						<li>concat, minify, test, deploy, etc.</li>
					</ul>
				</section>

				<section>
					<h2>Grunt</h2>
					<ul>
						<li><pre>npm install -g grunt-cli</pre></li>
						<li><pre>npm install grunt</pre></li>
						<li>Gruntfile.js</li>
					</ul>
				</section>

				<section>
					<h2>Grunt</h2>
					<ul>
						<li>Plugins out the wazoo</li>
						<li><pre>grunt.loadNpmTasks( 'grunt-contrib-clean' );</pre></li>
						<li><pre>clean: {
	pre_build: ['<%= cfg.dist_dir %>'],
	post_build: ['<%= cfg.views_out %>']
}</pre></li>
						<li><pre>grunt clean</pre></li>
						<li><pre>grunt clean:pre_build</pre></li>
					</ul>
				</section>

				<section>
					<h2>Grunt</h2>
					<ul>
						<li>It's just JavaScript</li>
						<li><pre>browserify2: {
	afterHook: function() {
		uglify.minify("someFile.js");
	}
}</pre></li>
					</ul>
				</section>

				<section>
					<h1>Browserify</h1>
				</section>

				<section>
					<h2>Browserify</h2>
					<ul>
						<li>Client-side JavaScript valhalla</li>
						<li>Buh-bye script tag soup and RequireJS</li>
					</ul>
				</section>

				<section>
					<h2>CommonJS style modules</h2>
					<ul>
						<li>What Node.js uses</li>
						<li>Synchronous, which is where Browserify comes in</li>
						<li>...but first</li>
					</ul>
				</section>

				<section>
					<h2>CommonJS style modules</h2>
					<ul>
						<li>Module returns what <pre>module.exports</pre> holds</li>
						<li>Can be any type. Function, object, string, number...</li>
						<li><pre>module.exports = {
	name: 'Ben',
	age: 33,
	writeCode: function(){...}
}</pre></li>
					</ul>
				</section>

				<section>
					<h2>CommonJS style modules</h2>
					<ul>
						<li>Can add to <pre>exports</pre> directly instead</li>
						<li><pre>exports.name = 'Ben';</pre></li>
						<li><pre>exports.age = 33;</pre></li>
						<li><pre>exports.writeCode = function(){...};</pre></li>
					</ul>
				</section>

				<section>
					<h2>CommonJS style modules</h2>
					<ul>
						<li>Load other modules with <pre>require()</pre></li>
						<li><pre>require('path')</pre> looks in <pre>node_modules/node core API</pre></li>
						<li><pre>require('./someFile')</pre> uses relative file path</li>
						<li>Assign <pre>var someModule = require('./someFile');</pre></li>
						<li>Or just use <pre>require('path').resolve('./../a/crazy/path');</pre></li>
					</ul>
				</section>

				<section>
					<h2>Browserify</h2>
					<ul>
						<li>Write client side code using CommonJS style modules</li>
						<li>Specify one or more 'entry' files</li>
						<li>Browserify walks <pre>require()</pre> statements and concatenates files</li>
						<li>Each file's contents wrapped in a closure</li>
						<li>Supports source maps and all kinds of other goodies</li>
					</ul>
				</section>

				<section>
					<h2>Browserify</h2>
					<pre style="display: block">var Class = require( 'Class' );

var AppController = module.exports = Class.extend( {

	init: function( $scope ) {
		this.$scope = $scope;
	}

} );

AppController.$inject = [ '$scope' ];
</pre>
				</section>

				<section>
					<h1>Yeoman</h1>
				</section>

				<section>
					<h2>Yeoman</h2>
					<ul>
						<li>Scaffolding and automation tool</li>
						<li>Built on top of Grunt and Bower</li>
					</ul>
				</section>

				<section>
					<h2>yo</h2>
					<ul>
						<li>Scaffolds files and directory structure</li>
						<li>package.json</li>
						<li>Gruntfile.js</li>
						<li>bower.json</li>
						<li>test harnesses</li>
						<li>Process templates</li>
						<li>etc.</li>
					</ul>
				</section>

				<section>
					<h2>yo</h2>
					<ul>
						<li><pre>yo angular my-demo</pre></li>
						<li><pre>yo angular:route EditUser</pre></li>
						<ul>
							<li>EditUserController.js</li>
							<li>EditUserControllerSpec.js</li>
							<li>editUser.html</li>
							<li><pre style="display: block">$routeProvider.when( '/', {
	templateUrl: 'views/editUser.html',
	controller: 'EditUserController'
} )</pre></li>
						</ul>
					</ul>
				</section>

				<section>
					<h2>Gruntfile.js</h2>
					<ul>
						<li>dev</li>
						<li>release</li>
						<li>test</li>
						<li>server</li>
					</ul>
				</section>

				<section>
					<h2>Bower</h2>
					<ul>
						<li>Like NPM for client-side libs</li>
						<li>bower.json manifest</li>
						<li><pre>bower install</pre> will fetch jQuery, Angular, etc.</li>
						<li>Made by Twitter</li>
						<li>Still early</li>
					</ul>
				</section>

				<section>
					<h2>So what?</h2>
					<ul>
						<li class="fragment"><pre>yo um-webapp my-app</pre></li>
						<li class="fragment">Answer some questions</li>
						<li class="fragment">Yeoman runs <pre>npm install && bower install</pre></li>
						<li class="fragment">Sip some coffee while dependencies are downloaded</li>
						<li class="fragment">Bask in the glow of fully configured app skeleton</li>
						<li class="fragment"><strong>PROFIT!!!</strong></li>
					</ul>
				</section>

	            <section>
	                <h2>Further Reading</h2>
	                <ul>
	                    <li><a href="http://nodejs.org/api/">Node.js docs</a></li>
	                    <li><a href="https://npmjs.org/">NPM</a></li>
	                    <li><a href="http://gruntjs.com/">Grunt</a></li>
	                    <li><a href="http://browserify.org/">Browserify</a></li>
	                    <li><a href="http://yeoman.io/">Yeoman</a></li>
	                    <li><a href="http://bower.io/">Bower</a></li>
	                    <li><a href="http://tech.pro/tutorial/1190/package-managers-an-introductory-guide-for-the-uninitiated-front-end-developer">Package managers in detail</a></li>
	                </ul>
	            </section>

	            <section>
	                <h1 style="padding-top: 230px;">Questions?</h1>
	            </section>

	            <section>
	                <h1 style="padding-top: 230px;">Thank You!</h1>
	            </section>

			</div> <!-- END OF SLIDES -->

			<!-- The navigational controls UI -->
			<aside class="controls">
				<a class="left" href="#">&#x25C4;</a>
				<a class="right" href="#">&#x25BA;</a>
				<a class="up" href="#">&#x25B2;</a>
				<a class="down" href="#">&#x25BC;</a>
			</aside>

			<!-- Presentation progress bar -->
			<div class="progress"><span></span></div>

		</div>

		<script src="reveal.js/lib/js/head.min.js"></script>
		<script src="reveal.js/js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,

				theme: 'um', // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/linear(2d)

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'reveal.js/lib/js/highlight.js', async: true, callback: function() { window.hljs.initHighlightingOnLoad(); } },
					{ src: 'reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
