    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
    <script src="<%= data.baseUrl %>scripts/main.js" type="text/javascript"></script>
    <script>
      mixpanel.track('page', { title: document.title });
      $('#mce-DOC-header').val('Header - ' + document.title);
      $('#mce-DOC-footer').val('Footer - ' + document.title);
    </script>
    <script type="text/javascript" src="<%= data.baseUrl %>scripts/prism.js"></script>
  </body>
</html>
