<div class="post-head group">
  <a href="<%= data.baseUrl %><%= post.url %>">
    <h1 class="post-title"><%= post.title %></h1>
  </a>
  <br>
  <span class="post-date"><%- post.dateLabel %></span>
</div>
