<% locals.title = post.title;
  if (post.description) {
    locals.description = post.description;
  }
%>
<% include _header %>
<% include _post %>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
		<form action="http://benclinkinbeard.us3.list-manage.com/subscribe/post?u=6d07cdf61fbc0d9355e8a9a0c&amp;id=c34eca8564" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<label for="mce-EMAIL">Want new content delivered to your inbox?</label>
				<input type="text" value="" name="FNAME" class="email" id="mce-FNAME" placeholder="First Name" required>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;"><input type="text" name="b_6d07cdf61fbc0d9355e8a9a0c_c34eca8564" value=""></div>
				<div class="clear">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"
                   style="display: inline-block; background: rgba(23, 127, 51, 0.89);">
            <span class="noSpam" style="margin: 0.3em 0.4em">(Only content, NEVER spam.)</span>
        </div>
		</form>
</div>
<br/><br/><br/>
<!--End mc_embed_signup-->

<% include _footer %>
